*Por temas esteticos, las tablas que se impriman van a tener head(), que significa que imprimir√° solo las primeras 5 lineas

# Librerias

In [1]:
import pandas as pd
import json
import requests

#  Resultados de la F1

In [2]:
import warnings
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

## Resultado de los pilotos

### Manera 1 (por separado)

In [3]:
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022['points'].head()

0    26
1    18
2    15
3    12
4    10
Name: points, dtype: int64

In [4]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores.head()

0            leclerc
1              sainz
2           hamilton
3            russell
4    kevin_magnussen
Name: Driver, dtype: object

In [5]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False).head()

          points
position
1            557
2            402
3            331
4            265
5            222

In [6]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

### Manera 2 (grupal)

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [8]:
df_results_2022["points"]=df_results_2022["points"].astype(int)

In [9]:
df_results_2022.groupby(["Driver"]).agg({'points':"sum"}).sort_values(by='points',ascending=False).head()

                points
Driver
max_verstappen     433
perez              291
leclerc            291
russell            262
hamilton           233

## Resultado de constructores

In [10]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x:x['constructorId'])
df_results_2022['Constructor'].head()

0     ferrari
1     ferrari
2    mercedes
3    mercedes
4        haas
Name: Constructor, dtype: object

In [11]:
df_results_2022.groupby(['Constructor']).agg({'points':"sum"}).sort_values(by='points',ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Los Grandes Premios (carreras)

In [12]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/2010.json'
response = requests.get(url)
content=json.loads(response.content)
content['MRData']['RaceTable']['Races'][0]

{'season': '2010',
 'round': '1',
 'url': 'http://en.wikipedia.org/wiki/2010_Bahrain_Grand_Prix',
 'raceName': 'Bahrain Grand Prix',
 'Circuit': {'circuitId': 'bahrain',
  'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
  'circuitName': 'Bahrain International Circuit',
  'Location': {'lat': '26.0325',
   'long': '50.5106',
   'locality': 'Sakhir',
   'country': 'Bahrain'}},
 'date': '2010-03-14',
 'time': '12:00:00Z'}

In [13]:
year1=1950
year2=2023

In [14]:
races={'season':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

# Tablas

# Tabla races

In [15]:
pd.DataFrame(races).head()

,season,round,raceName,circuitId,lat,long,country,date,url
0,1950,1,British Grand Prix,silverstone,52.0786,-1.01694,UK,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,Monaco Grand Prix,monaco,43.7347,7.42056,Monaco,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,Indianapolis 500,indianapolis,39.795,-86.2347,USA,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,Swiss Grand Prix,bremgarten,46.9589,7.40194,Switzerland,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,Belgian Grand Prix,spa,50.4372,5.97139,Belgium,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [16]:
races={'season':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}.json?limit=100'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])
racess=pd.DataFrame(races)
racess.head()

,season,round,raceName,circuitId,lat,long,country,date,url
0,1950,1,British Grand Prix,silverstone,52.0786,-1.01694,UK,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,Monaco Grand Prix,monaco,43.7347,7.42056,Monaco,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,Indianapolis 500,indianapolis,39.795,-86.2347,USA,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,Swiss Grand Prix,bremgarten,46.9589,7.40194,Switzerland,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,Belgian Grand Prix,spa,50.4372,5.97139,Belgium,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

### Temporadas

In [17]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/seasons.json?limit=100'
response = requests.get(url)
content=json.loads(response.content)
Season ={'temporada':[],'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    Season['temporada'].append(int(item['season']))
    Season['url'].append(item['url'])
Seasons=pd.DataFrame(Season)
Seasons.head()

   temporada                                                url
0       1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1       1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2       1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3       1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4       1954  http://en.wikipedia.org/wiki/1954_Formula_One_...

### Conductores

In [18]:
drivers={'year':[],"DriverId":[],"Number":[],"code":[],"forename":[],"surname":[],"dob":[],"nationality":[],"url":[]}
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}/drivers.json?limit=100'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['DriverTable']
    for i in range(0,len(path['Drivers'])-1):
        drivers["year"].append(path['season'])
        try:
            drivers["Number"].append(int(path['Drivers'][i]["permanentNumber"]))
        except:
            drivers["Number"].append("")
        drivers["DriverId"].append(path['Drivers'][i]["driverId"])
        try:
            drivers["code"].append(path['Drivers'][i]["code"])
        except:
            drivers["code"].append("")
        drivers["forename"].append(path['Drivers'][i]["givenName"])
        drivers["surname"].append(path['Drivers'][i]["familyName"])                       
        drivers["dob"].append(path['Drivers'][i]["dateOfBirth"])                        
        drivers["nationality"].append(path['Drivers'][i]["nationality"])
        drivers["url"].append(path['Drivers'][i]["url"]) 
driverss=pd.DataFrame(drivers)
driverss['dob'] = driverss['dob'].astype('datetime64[ns]')
driverss.head()

,year,DriverId,Number,code,forename,surname,dob,nationality,url
0,1950,ader,,,Walt,Ader,1913-12-15,American,http://en.wikipedia.org/wiki/Walt_Ader
1,1950,agabashian,,,Fred,Agabashian,1913-08-21,American,http://en.wikipedia.org/wiki/Fred_Agabashian
2,1950,ascari,,,Alberto,Ascari,1918-07-13,Italian,http://en.wikipedia.org/wiki/Alberto_Ascari
3,1950,banks,,,Henry,Banks,1913-06-14,American,http://en.wikipedia.org/wiki/Henry_Banks
4,1950,bettenhausen,,,Tony,Bettenhausen,1916-09-12,American,http://en.wikipedia.org/wiki/Tony_Bettenhausen

### Constructores

In [19]:
constructors={"year":[],"constuctorId":[],"name":[],"nationality":[],"url":[],}
warnings.filterwarnings("ignore")
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}/constructors.json?limit=100'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['ConstructorTable']
    for item in range(0,len(path['Constructors'])-1):
        constructors["year"].append(path['season'])
        constructors["constuctorId"].append(path['Constructors'][item]['constructorId'])
        constructors['name'].append(path['Constructors'][item]['name'])
        constructors['nationality'].append(path['Constructors'][item]['nationality'])
        constructors['url'].append(path['Constructors'][item]['url'])
    
constructorss=pd.DataFrame(constructors)
constructorss.head()

,year,constuctorId,name,nationality,url
0,1950,adams,Adams,American,http://en.wikipedia.org/wiki/Adams_(constructor)
1,1950,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
2,1950,alta,Alta,British,http://en.wikipedia.org/wiki/Alta_auto_racing_...
3,1950,cooper,Cooper,British,http://en.wikipedia.org/wiki/Cooper_Car_Company
4,1950,deidt,Deidt,American,http://en.wikipedia.org/wiki/Deidt

### Circuitos

In [20]:
circuits={'year':[],'circuitId':[], #'circuitRef':[],
           'name':[],'location':[], 'country':[],
           'lat':[], 'lng':[], 'alt':[],
           'url':[]}
warnings.filterwarnings("ignore")
for year in range(year1,year2):
    url= 'http://ergast.com/api/f1/{}/circuits.json?limit=100'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['CircuitTable']
    for item in range(0,len(path['Circuits'])):
        circuits['year'].append(path['season'])
        circuits['circuitId'].append(path['Circuits'][item]['circuitId'])
        circuits['name'].append(path['Circuits'][item]['circuitName'])
        circuits['location'].append(path['Circuits'][item]['Location']['locality'])
        circuits['country'].append(path['Circuits'][item]['Location']['country'])
        circuits['lat'].append(path['Circuits'][item]['Location']['lat'])
        circuits['lng'].append(path['Circuits'][item]['Location']['long'])
        circuits['alt'].append(path['Circuits'][item]['Location']['locality'])
        circuits['url'].append(path['Circuits'][item]['url'])
    
circuitss=pd.DataFrame(circuits)
circuitss.head()

,year,circuitId,name,location,country,lat,lng,alt,url
0,1950,bremgarten,Circuit Bremgarten,Bern,Switzerland,46.9589,7.40194,Bern,http://en.wikipedia.org/wiki/Circuit_Bremgarten
1,1950,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.795,-86.2347,Indianapolis,http://en.wikipedia.org/wiki/Indianapolis_Moto...
2,1950,monaco,Circuit de Monaco,Monte-Carlo,Monaco,43.7347,7.42056,Monte-Carlo,http://en.wikipedia.org/wiki/Circuit_de_Monaco
3,1950,monza,Autodromo Nazionale di Monza,Monza,Italy,45.6156,9.28111,Monza,http://en.wikipedia.org/wiki/Autodromo_Naziona...
4,1950,reims,Reims-Gueux,Reims,France,49.2542,3.93083,Reims,http://en.wikipedia.org/wiki/Reims-Gueux

### Qualy

In [21]:
qualifiying={"year":[],"driverId":[],"ConstructorId":[],"number":[],"position":[],"qualifyId":[],"raceId":[],"q1":[],"q2":[],"q3":[]}
warnings.filterwarnings("ignore")
for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=100'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    path=content['MRData']['RaceTable']['Races']
    for i in range(0,tampath):
        url2=url3+'/{}/qualifying.json?limit=100'
        response = requests.get(url2.format(i))
        try:
            content=json.loads(response.content)
            try:
                path2=content['MRData']['RaceTable']['Races'][0]['QualifyingResults']
                for k in range(0,len(path2)):
                    qualifiying["year"].append(path[i]['season'])
                    qualifiying["qualifyId"].append('Carrera ' + path[i]['round'])
                    qualifiying["raceId"].append(path[i]['raceName']) 
                for item2 in path2:
                    qualifiying["driverId"].append(item2['Driver']['driverId'])   
                    qualifiying["ConstructorId"].append(item2['Constructor']['constructorId'])
                    qualifiying["number"].append(item2['number'])
                    qualifiying["position"].append(item2['position'])
                    qualifiying["q1"].append(item2['Q1'])
                    try:
                      qualifiying["q2"].append(item2['Q2'])
                    except:
                      qualifiying["q2"].append("")
                    try:
                      qualifiying["q3"].append(item2['Q3'])
                    except:
                      qualifiying["q3"].append("")
            except:
                qualifiying["year"].append(path[i]['season'])
                qualifiying["qualifyId"].append("")
                qualifiying["raceId"].append("") 
                qualifiying["driverId"].append("")   
                qualifiying["ConstructorId"].append("")
                qualifiying["number"].append("")
                qualifiying["position"].append("")
                qualifiying["q1"].append("")
                qualifiying["q2"].append("")
                qualifiying["q3"].append("")
        except:
            print(url2.format(i))
qualifiyingg=pd.DataFrame(qualifiying)  
qualifiyingg.head()

   year driverId ConstructorId number position qualifyId raceId q1 q2 q3
0  1950
1  1950
2  1950
3  1950
4  1950

### Sprint results

In [22]:
##################################
####SPRINT RESULTS ##########fastestLapTime (falta eso)
sprintResult={"year":[],"sprintResultId":[],"raceId":[],"driverId":[],"constructorId":[],"number":[],
             "grid":[],"position":[],"positionText":[],"points":[],"laps":[],"time":[],
             "miliseconds":[],"fastestLap":[],"statusId":[]}#,"positionOrder":[],"fastestLapTime":[]}
warnings.filterwarnings("ignore")
for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=100'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    for i in range(0,tampath):
        url2=url3+'/{}/sprint.json?limit=100'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        try:
            path2=content['MRData']['RaceTable']['Races'][i]['SprintResults']
            tampath2=len(content['MRData']['RaceTable']['Races'][i]['SprintResults'])
            for j in range(0,tampath2):
                sprintResult["year"].append(year-1)
                sprintResult["sprintResultId"].append(year-1)
                sprintResult["raceId"].append(path[i]['raceName'])
                sprintResult["driverId"].append(path2[j]['Driver']['driverId'])
                sprintResult["constructorId"].append(path2[j]['Constructor']['constructorId'])
                sprintResult["number"].append(path2[j]['Driver']['permanentNumber'])
                sprintResult["grid"].append(path2[j]['grid'])
                sprintResult["position"].append(path2[j]['position'])
                sprintResult["positionText"].append(path2[j]['positionText'])
                #sprintResult["positionOrder"].append(path2[j]['position'])
                sprintResult["points"].append(path2[j]['points'])
                sprintResult["laps"].append(path2[j]['laps'])
                sprintResult["time"].append(path2[j]['Time']['time'])
                sprintResult["miliseconds"].append(path2[j]['Time']['millis'])
                sprintResult["fastestLap"].append(path2[j]['FastestLap']['lap'])
                #sprintResult["fastestLapTime"].append(path2[j]['fastestLap']['Time']['time'])
                sprintResult["statusId"].append(path2[j]['status'])
        except:
            a=1

sprintResultt=pd.DataFrame.from_dict(sprintResult,orient='index')
sprintResultt=sprintResultt.transpose()
sprintResultt.head()

,year,sprintResultId,raceId,driverId,constructorId,number,grid,position,positionText,points,laps,time,miliseconds,fastestLap,statusId
0,2020,2020,Bahrain Grand Prix,max_verstappen,red_bull,33,2,1,1,3,17,25:38.426,1538426,14,Finished
1,2020,2020,Bahrain Grand Prix,hamilton,mercedes,44,1,2,2,2,17,+1.430,1539856,17,Finished
2,2020,2020,Bahrain Grand Prix,bottas,mercedes,77,3,3,3,1,17,+7.502,1545928,17,Finished
3,2020,2020,Bahrain Grand Prix,leclerc,ferrari,16,4,4,4,0,17,+11.278,1549704,16,Finished
4,2020,2020,Bahrain Grand Prix,norris,mclaren,4,6,5,5,0,17,+24.111,1562537,16,Finished

### Status

In [23]:
warnings.filterwarnings("ignore")
status={"year":[],"statusId":[],"status":[]}
for year in range(year1,year2):
    url='http://ergast.com/api/f1/{}/status.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['StatusTable']["Status"]:
        status["statusId"].append(item['statusId'])
        status["status"].append(item['status'])
        status["year"].append(content['MRData']['StatusTable']['season'])

statuss=pd.DataFrame(status)
statuss.head()

   year statusId     status
0  1950        1   Finished
1  1950        3   Accident
2  1950        4  Collision
3  1950        5     Engine
4  1950        6    Gearbox

### Results

In [27]:
#################################################### Faltaaaaaaaaa
###RESULTS
warnings.filterwarnings("ignore")
results2={"year":[],"ResultId":[],"raceId":[],"driverId":[],"constructorId":[],"number":[],
             "grid":[],"position":[],"positionText":[],"points":[],"laps":[],"time":[],
             "miliseconds":[],"fastestLap":[],"fastestLapSpeed":[],"statusId":[]}#,"positionOrder":[],"fastestLapTime":[]}
warnings.filterwarnings("ignore")
for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=100'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    path=content['MRData']['RaceTable']['Races']
    for i in range(0,len(path)):
        url2=url3+'/{}/results.json?limit=100'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        path2=content['MRData']['RaceTable']['Races']
        for j in range(0,len(path2)):
            path3=content['MRData']['RaceTable']['Races'][0]['Results']
            for y in range(0,len(path3)):
                results2["year"].append(path2[j]['season'])
                results2["ResultId"].append(path2[j]['round'])
                results2["raceId"].append(path2[j]['raceName'])
                results2["driverId"].append(path3[y]['Driver']['driverId'])
                results2["constructorId"].append(path3[y]['Constructor']['constructorId'])
                #results2["number"].append(path3[y]['Driver']['permanentNumber'])
                results2["grid"].append(path3[y]['grid'])
                results2["position"].append(path3[y]['position'])
                results2["positionText"].append(path3[y]['positionText'])
                #results2["positionOrder"].append(path3[y]['position'])
                results2["points"].append(path3[y]['points'])
                results2["laps"].append(path3[y]['laps'])
                #results2["time"].append(path3[y]['Time']['time'])
                #results2["miliseconds"].append(path3[y]['Time']['millis'])
                #results2["fastestLap"].append(path3[y]['FastestLap']['lap'])
                #results2["fastestLapTime"].append(path3[y]['fastestLap']['Time']['time'])
                results2["statusId"].append(path3[y]['status'])
resultss2=pd.DataFrame.from_dict(results2,orient='index')
resultss2=resultss2.transpose()
resultss2.head()

,year,ResultId,raceId,driverId,constructorId,number,grid,position,positionText,points,laps,time,miliseconds,fastestLap,fastestLapSpeed,statusId
0,1950,1,British Grand Prix,farina,alfa,None,1,1,1,9,70,None,None,None,None,Finished
1,1950,1,British Grand Prix,fagioli,alfa,None,2,2,2,6,70,None,None,None,None,Finished
2,1950,1,British Grand Prix,reg_parnell,alfa,None,4,3,3,4,70,None,None,None,None,Finished
3,1950,1,British Grand Prix,cabantous,lago,None,6,4,4,3,68,None,None,None,None,+2 Laps
4,1950,1,British Grand Prix,rosier,lago,None,9,5,5,2,68,None,None,None,None,+2 Laps

In [ ]:
import warnings
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
content['MRData']['RaceTable']['Races'][0]['Results'][0]

### PitStops

In [ ]:
####################################################
####pitstop
status={"statusId":[],"status":[]}
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/2022/5/pitstops.json'
response = requests.get(url)
content=json.loads(response.content)
content['MRData']

### LapTimes

In [ ]:
####3 for
http://ergast.com/api/f1/2011/5/laps/1

### DriverStandings

In [ ]:
http://ergast.com/api/f1/2008/5/driverStandings

### ConstructorStandings

In [ ]:
http://ergast.com/api/f1/2008/5/constructorStandings

### ConstructorResults

### Listado
* racess **#Estatus terminado**
* Seasons **#Estatus terminado**
* driverss **#Estatus terminado**
* constructorss **#Estatus terminado**
* circuitss **#Estatus terminado**
* qualifiyingg **#Estatus terminado**
* sprintResultt **#Falta una variable**
* statuss **#Estatus terminado**
* results **#Faltan 4 variables**
* PitStops **#Incompleto**
* lapTimes **#No iniciado**
* driverStandings **#No iniciado**
* constructorStandings **#No iniciado**
* constructorResults **#No iniciado**

In [26]:
racess.to_csv('racess.csv',index=False)
Seasons.to_csv('Seasons.csv',index=False)
driverss.to_csv('driverss.csv',index=False)
constructorss.to_csv('constructorss.csv',index=False)
circuitss.to_csv('circuitss.csv',index=False)
qualifiyingg.to_csv('qualifiyingg.csv',index=False)