*Por temas esteticos, las tablas que se impriman van a tener head(), que significa que imprimirá solo las primeras 5 lineas

# Librerias

In [1]:
import pandas as pd
import json
import requests

#  Resultados de la F1

In [2]:
import warnings
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

## Resultado de los pilotos

### Manera 1 (por separado)

In [3]:
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022['points'].head()

0    26
1    18
2    15
3    12
4    10
Name: points, dtype: int64

In [4]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores.head()

0            leclerc
1              sainz
2           hamilton
3            russell
4    kevin_magnussen
Name: Driver, dtype: object

In [5]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False).head()

          points
position
1            557
2            402
3            331
4            265
5            222

In [6]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

### Manera 2 (grupal)

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [8]:
df_results_2022["points"]=df_results_2022["points"].astype(int)

In [9]:
df_results_2022.groupby(["Driver"]).agg({'points':"sum"}).sort_values(by='points',ascending=False).head()

                points
Driver
max_verstappen     433
perez              291
leclerc            291
russell            262
hamilton           233

## Resultado de constructores

In [10]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x:x['constructorId'])
df_results_2022['Constructor'].head()

0     ferrari
1     ferrari
2    mercedes
3    mercedes
4        haas
Name: Constructor, dtype: object

In [11]:
df_results_2022.groupby(['Constructor']).agg({'points':"sum"}).sort_values(by='points',ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Los Grandes Premios (carreras)

In [12]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/2010.json'
response = requests.get(url)
content=json.loads(response.content)
content['MRData']['RaceTable']['Races'][0]

{'season': '2010',
 'round': '1',
 'url': 'http://en.wikipedia.org/wiki/2010_Bahrain_Grand_Prix',
 'raceName': 'Bahrain Grand Prix',
 'Circuit': {'circuitId': 'bahrain',
  'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
  'circuitName': 'Bahrain International Circuit',
  'Location': {'lat': '26.0325',
   'long': '50.5106',
   'locality': 'Sakhir',
   'country': 'Bahrain'}},
 'date': '2010-03-14',
 'time': '12:00:00Z'}

In [13]:
year1=2010
year2=2024

In [14]:
races={'season':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

# Tablas

### Carreras

In [15]:
pd.DataFrame(races).head()

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...

In [16]:
races={'year':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['year'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(float(item['Circuit']['Location']['lat']))
        races['long'].append(float(item['Circuit']['Location']['long']))
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])
racess=pd.DataFrame(races)
racess.head()
racess['date'] = racess['date'].astype('datetime64[ns]')
racess.head()

,year,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.03250,50.51060,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.84970,144.96800,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.73800,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.33890,121.22000,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57000,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...

### Temporadas

In [17]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/seasons.json?limit=1000'
response = requests.get(url)
content=json.loads(response.content)
Season ={'year':[],'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    Season['year'].append(int(item['season']))
    Season['url'].append(item['url'])
Seasons=pd.DataFrame(Season)
Seasons.head()

   year                                                url
0  1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1  1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2  1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3  1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4  1954  http://en.wikipedia.org/wiki/1954_Formula_One_...

### Conductores

In [18]:
drivers={'year':[],"DriverId":[],"Number":[],"code":[],"forename":[],"surname":[],"dob":[],"nationality":[],"url":[]}
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}/drivers.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['DriverTable']
    for i in range(0,len(path["Drivers"])):
            drivers["year"].append(int(path['season']))
            try:
                drivers["Number"].append(int(path['Drivers'][i]["permanentNumber"]))
            except:
                drivers["Number"].append("")
            drivers["DriverId"].append(path['Drivers'][i]["driverId"])
            try:
                drivers["code"].append(path['Drivers'][i]["code"])
            except:
                drivers["code"].append("")
            drivers["forename"].append(path['Drivers'][i]["givenName"])
            drivers["surname"].append(path['Drivers'][i]["familyName"])                       
            drivers["dob"].append(path['Drivers'][i]["dateOfBirth"])                        
            drivers["nationality"].append(path['Drivers'][i]["nationality"])
            drivers["url"].append(path['Drivers'][i]["url"]) 
driverss=pd.DataFrame(drivers)
driverss['dob'] = driverss['dob'].astype('datetime64[ns]')
driverss.head()

,year,DriverId,Number,code,forename,surname,dob,nationality,url
0,2010,alguersuari,,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
1,2010,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,2010,barrichello,,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
3,2010,buemi,,BUE,Sébastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
4,2010,button,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button

### Constructores

In [19]:
constructors={"year":[],"constuctorId":[],"name":[],"nationality":[],"url":[],}
warnings.filterwarnings("ignore")
for year in list(range(year1,year2)):
    url='http://ergast.com/api/f1/{}/constructors.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['ConstructorTable']
    for item in range(0,len(path['Constructors'])):
        constructors["year"].append(int(path['season']))
        constructors["constuctorId"].append(path['Constructors'][item]['constructorId'])
        constructors['name'].append(path['Constructors'][item]['name'])
        constructors['nationality'].append(path['Constructors'][item]['nationality'])
        constructors['url'].append(path['Constructors'][item]['url'])
    
constructorss=pd.DataFrame(constructors)
constructorss.head()

,year,constuctorId,name,nationality,url
0,2010,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,2010,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,2010,hrt,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,2010,lotus_racing,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,2010,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren

### Circuitos

In [20]:
circuits={'year':[],'circuitId':[], #'circuitRef':[],
           'name':[],'location':[], 'country':[],
           'lat':[], 'lng':[], 'alt':[],
           'url':[]}
warnings.filterwarnings("ignore")
for year in range(year1,year2):
    url= 'http://ergast.com/api/f1/{}/circuits.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['CircuitTable']
    for item in range(0,len(path['Circuits'])):
        circuits['year'].append(int(path['season']))
        circuits['circuitId'].append(path['Circuits'][item]['circuitId'])
        circuits['name'].append(path['Circuits'][item]['circuitName'])
        circuits['location'].append(path['Circuits'][item]['Location']['locality'])
        circuits['country'].append(path['Circuits'][item]['Location']['country'])
        circuits['lat'].append(float(path['Circuits'][item]['Location']['lat']))
        circuits['lng'].append(float(path['Circuits'][item]['Location']['long']))
        circuits['alt'].append(path['Circuits'][item]['Location']['locality'])
        circuits['url'].append(path['Circuits'][item]['url'])
    
circuitss=pd.DataFrame(circuits)
circuitss.head()

,year,circuitId,name,location,country,lat,lng,alt,url
0,2010,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,Melbourne,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2010,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.0325,50.51060,Sakhir,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,2010,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.5700,2.26111,Montmeló,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,2010,hockenheimring,Hockenheimring,Hockenheim,Germany,49.3278,8.56583,Hockenheim,http://en.wikipedia.org/wiki/Hockenheimring
4,2010,hungaroring,Hungaroring,Budapest,Hungary,47.5789,19.24860,Budapest,http://en.wikipedia.org/wiki/Hungaroring

### Qualy

In [21]:
import warnings
qualifiying={"year":[],"driverId":[],"ConstructorId":[],"number":[],"position":[],"qualifyId":[],"raceId":[],"q1":[],"q2":[],"q3":[]}
warnings.filterwarnings("ignore")
for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/qualifying.json?limit=100'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        for item in content['MRData']['RaceTable']['Races']:
            for item1 in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
                qualifiying["year"].append(int(item['season']))
                qualifiying["qualifyId"].append(int( item['round']))
                qualifiying["raceId"].append(item['raceName']) 
            
                qualifiying["driverId"].append(item1['Driver']['driverId'])   
                qualifiying["ConstructorId"].append(item1['Constructor']['constructorId'])
                qualifiying["number"].append(int(item1['number']))
                qualifiying["position"].append(int(item1['position']))
                qualifiying["q1"].append(item1['Q1'])
                try:
                    qualifiying["q2"].append(item1['Q2'])
                except:
                    qualifiying["q2"].append("")
                try:
                    qualifiying["q3"].append(item1['Q3'])
                except:
                    qualifiying["q3"].append("")

qualifiyingg=pd.DataFrame.from_dict(qualifiying,orient='index')
qualifiyingg=qualifiyingg.transpose()
qualifiyingg.head()

,year,driverId,ConstructorId,number,position,qualifyId,raceId,q1,q2,q3
0,2010,vettel,red_bull,5,1,1,Bahrain Grand Prix,1:55.029,1:53.883,1:54.101
1,2010,massa,ferrari,7,2,1,Bahrain Grand Prix,1:55.313,1:54.331,1:54.242
2,2010,alonso,ferrari,8,3,1,Bahrain Grand Prix,1:54.612,1:54.172,1:54.608
3,2010,hamilton,mclaren,2,4,1,Bahrain Grand Prix,1:55.341,1:54.707,1:55.217
4,2010,rosberg,mercedes,4,5,1,Bahrain Grand Prix,1:55.463,1:54.682,1:55.241

In [22]:
########################################## Manera 2 
qualifiying2={"year":[],"driverId":[],"ConstructorId":[],"number":[],"position":[],"qualifyId":[],"raceId":[],"q1":[],"q2":[],"q3":[]}
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/qualifying.json?limit=10000'
response = requests.get(url)
content=json.loads(response.content)
for k in content['MRData']['RaceTable']['Races']:
    for k1 in k['QualifyingResults']:
        qualifiying2["year"].append(int(k['season']))
        qualifiying2["qualifyId"].append(int(k['round']))
        qualifiying2["raceId"].append(k['raceName']) 
        qualifiying2["driverId"].append(k1['Driver']['driverId'])   
        qualifiying2["ConstructorId"].append(k1['Constructor']['constructorId'])
        qualifiying2["number"].append(k1['number'])
        qualifiying2["position"].append(k1['position'])
        qualifiying2["q1"].append(k1['Q1'])
        try:
            qualifiying2["q2"].append(k1['Q2'])
        except:
            qualifiying2["q2"].append("")
        try:
            qualifiying2["q3"].append(k1['Q3'])
        except:
            qualifiying2["q3"].append("")

qualifiyingg2=pd.DataFrame.from_dict(qualifiying2,orient='index')
qualifiyingg2=qualifiyingg2.transpose()
qualifiyingg2.head()

,year,driverId,ConstructorId,number,position,qualifyId,raceId,q1,q2,q3
0,1994,senna,williams,2,1,1,Brazilian Grand Prix,1:15.962,,
1,1994,michael_schumacher,benetton,5,2,1,Brazilian Grand Prix,1:16.290,,
2,1994,alesi,ferrari,27,3,1,Brazilian Grand Prix,1:17.385,,
3,1994,damon_hill,williams,0,4,1,Brazilian Grand Prix,1:17.554,,
4,1994,frentzen,sauber,30,5,1,Brazilian Grand Prix,1:17.806,,

### Sprint results

In [23]:
sprintResult={"year":[],"raceId":[],"driverId":[],"round":[],"constructorId":[],"number":[],
             "grid":[],"position":[],"positionText":[],"points":[],"laps":[],"time":[],
             "miliseconds":[],"fastestLap":[],"statusId":[],"fastestLapTime":[]}
for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    urls=[]
    for i in range(1,len(content['MRData']['RaceTable']['Races'])+1):
        url2=url3+'/{}/sprint.json?limit=1000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        urls.append(url2.format(i))
    i=0 
    for j in urls:
        response = requests.get(j)
        content=json.loads(response.content)
        
        try:
            for item in content['MRData']['RaceTable']['Races'][0]['SprintResults']:
                sprintResult["year"].append(int(content['MRData']['RaceTable']['Races'][0]['season']))
                sprintResult["driverId"].append(item["Driver"]["driverId"])
                sprintResult["raceId"].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
                sprintResult["round"].append(int(content['MRData']['RaceTable']['Races'][0]['round']))
                sprintResult["constructorId"].append(item["Constructor"]["constructorId"])
                sprintResult["number"].append(int(item['Driver']['permanentNumber']))
                sprintResult["grid"].append(int(item["grid"]))
                sprintResult["position"].append(int(item['position']))
                sprintResult["positionText"].append(item['positionText'])
                sprintResult["points"].append(int(item['points']))
                sprintResult["laps"].append(int(item['laps']))
                try:
                    sprintResult["time"].append(item["Time"]["time"])
                except:
                    sprintResult["time"].append(0)
                try:
                    sprintResult["miliseconds"].append(item["Time"]["millis"])
                except:
                    sprintResult["miliseconds"].append("")
                try:    
                    sprintResult["fastestLap"].append(item['FastestLap']["lap"])
                except:
                    sprintResult["fastestLap"].append("")
                try:    
                    sprintResult["fastestLapTime"].append(item['FastestLap']['Time']['time'])
                except:
                    sprintResult["fastestLapTime"].append("")
                try:    
                    sprintResult["statusId"].append(item['status'])
                except:
                    sprintResult["statusId"].append("")
        except:
            print(f"Hay un error en {j}")
                
                
sprintResultt=pd.DataFrame.from_dict(sprintResult,orient='index')
sprintResultt=sprintResultt.transpose()
sprintResultt.head()

Hay un error en http://ergast.com/api/f1/2010/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2011/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2012/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2013/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2014/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2015/19/sprint.json?limit=1000

Hay un error en http://ergast.com/api/f1/2016/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2016/21/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2017/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2018/21/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2019/21/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2020/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/17/sprint.json?limit=1000

Hay un error en http://ergast.com/api/f1/2021/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/21/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/22/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2022/22/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/1/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/2/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/3/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/4/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/5/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/6/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/7/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/8/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/9/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/10/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/11/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/12/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/13/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/14/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/15/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/16/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/17/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/18/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/19/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/20/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/21/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/22/sprint.json?limit=1000
Hay un error en http://ergast.com/api/f1/2023/23/sprint.json?limit=1000

,year,raceId,driverId,round,constructorId,number,grid,position,positionText,points,laps,time,miliseconds,fastestLap,statusId,fastestLapTime
0,2021,British Grand Prix,max_verstappen,10,red_bull,33,2,1,1,3,17,25:38.426,1538426,14,Finished,1:30.013
1,2021,British Grand Prix,hamilton,10,mercedes,44,1,2,2,2,17,+1.430,1539856,17,Finished,1:29.937
2,2021,British Grand Prix,bottas,10,mercedes,77,3,3,3,1,17,+7.502,1545928,17,Finished,1:29.958
3,2021,British Grand Prix,leclerc,10,ferrari,16,4,4,4,0,17,+11.278,1549704,16,Finished,1:30.163
4,2021,British Grand Prix,norris,10,mclaren,4,6,5,5,0,17,+24.111,1562537,16,Finished,1:30.566

### Status

In [24]:
warnings.filterwarnings("ignore")
status={"year":[],"statusId":[],"status":[]}
for year in range(year1,year2):
    url='http://ergast.com/api/f1/{}/status.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['StatusTable']["Status"]:
        status["statusId"].append(item['statusId'])
        status["status"].append(item['status'])
        status["year"].append(content['MRData']['StatusTable']['season'])

statuss=pd.DataFrame(status)
statuss.head()

   year statusId     status
0  2010        1   Finished
1  2010        3   Accident
2  2010        4  Collision
3  2010        5     Engine
4  2010        6    Gearbox

### Results

In [26]:
year1=2010
year2=2023

In [27]:
results2={"year":[],"raceId":[],"driverId":[],"constructorId":[],"number":[],
             "grid":[],"position":[],"positionText":[],"points":[],"laps":[],"time":[],
             "miliseconds":[],"fastestLap":[],"fastestLapSpeed":[],"statusId":[],"fastestLapTime":[],"round":[]}#,"ResultId":[],"positionOrder":[]}
for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/results.json?limit=1000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    i=0 
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        
        for item in content['MRData']['RaceTable']['Races'][0]['Results']:
            #results2["ResultId"].append()
            results2["year"].append(int(content['MRData']['RaceTable']['Races'][0]['season']))
            results2["raceId"].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
            results2["round"].append(int(content['MRData']['RaceTable']['Races'][0]['round']))
            results2["driverId"].append(item['Driver']['driverId'])
            results2["constructorId"].append(item['Constructor']['constructorId'])
            try:
                results2["number"].append(item['Driver']['permanentNumber'])
            except:
                results2["number"].append("")
            results2["grid"].append(item['grid'])
            results2["position"].append(int(item['position']))
            results2["positionText"].append(item['positionText'])
            #results2["positionOrder"].append()
            results2["points"].append(float(item['points']))
            results2["laps"].append(int(item['laps']))
            try:
                results2["time"].append(item['Time']['time'])
            except:
                results2["time"].append("")
            try:
                results2["miliseconds"].append(int(item['Time']['millis']))
            except: 
                results2["miliseconds"].append("")
            try:
                results2["fastestLap"].append(int(item['FastestLap']['lap']))
            except: 
                results2["fastestLap"].append("")
            try:
                results2["fastestLapTime"].append(item['FastestLap']['Time']['time'])
            except: 
                results2["fastestLapTime"].append("")
            try:
                results2["fastestLapSpeed"].append(item['FastestLap']['AverageSpeed']['speed'])
            except: 
                results2["fastestLapSpeed"].append("")
                
            try:
                results2["statusId"].append(item['status'])
            except: 
                results2["statusId"].append("")
                
            
resultss2=pd.DataFrame.from_dict(results2,orient='index')
resultss2=resultss2.transpose()           
resultss2.head()

,year,raceId,driverId,constructorId,number,grid,position,positionText,points,laps,time,miliseconds,fastestLap,fastestLapSpeed,statusId,fastestLapTime,round
0,2010,Bahrain Grand Prix,alonso,ferrari,14,3,1,1,25.0,49,1:39:20.396,5960396,45,191.706,Finished,1:58.287,1
1,2010,Bahrain Grand Prix,massa,ferrari,19,2,2,2,18.0,49,+16.099,5976495,38,189.392,Finished,1:59.732,1
2,2010,Bahrain Grand Prix,hamilton,mclaren,44,4,3,3,15.0,49,+23.182,5983578,42,189.665,Finished,1:59.560,1
3,2010,Bahrain Grand Prix,vettel,red_bull,5,1,4,4,12.0,49,+38.799,5999195,32,188.627,Finished,2:00.218,1
4,2010,Bahrain Grand Prix,rosberg,mercedes,6,5,5,5,10.0,49,+40.213,6000609,45,188.599,Finished,2:00.236,1

### PitStops

In [28]:
pitStops = {'year':[],"raceId":[],'driverId':[], 'stop':[],
           'lap':[], 'time':[],'round':[], 'duration':[]}#, 'milliseconds':[]}

for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/pitstops.json?limit=1000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    
    for j in links:
        try:
            response = requests.get(j)
            content=json.loads(response.content)
        except:
            print(f"Hay un error en {j}")
        try: 
            content['MRData']['RaceTable']['Races'][0]['PitStops']
            for item in content['MRData']['RaceTable']['Races'][0]['PitStops']:
                pitStops["raceId"].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
                pitStops["round"].append(int(content['MRData']['RaceTable']['Races'][0]['round']))
                pitStops["year"].append(int(content['MRData']['RaceTable']['Races'][0]['season']))
                pitStops["driverId"].append(item['driverId'])
                pitStops["stop"].append(int(item['stop']))
                pitStops["lap"].append(int(item['lap']))
                pitStops["time"].append(item['time'])
                pitStops["duration"].append(item['duration'])
            
        except:
            print(f"Hay un error en {j}")
            
        

pitStopss=pd.DataFrame(pitStops)         
pitStopss.head()

Hay un error en http://ergast.com/api/f1/2010/1/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/2/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/3/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/4/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/5/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/6/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/7/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/8/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/9/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/10/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/11/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/12/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/13/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/14/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/15/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/16/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/17/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/18/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2010/19/pitstops.json?limit=1000
Hay un error en http://ergast.com/api/f1/2021/12/pitstops.json?limit=1000

,year,raceId,driverId,stop,lap,time,round,duration
0,2011,Australian Grand Prix,alguersuari,1,1,17:05:23,1,26.898
1,2011,Australian Grand Prix,michael_schumacher,1,1,17:05:52,1,25.021
2,2011,Australian Grand Prix,webber,1,11,17:20:48,1,23.426
3,2011,Australian Grand Prix,alonso,1,12,17:22:34,1,23.251
4,2011,Australian Grand Prix,massa,1,13,17:24:10,1,23.842

### LapTimes

In [29]:
lapTimes={"year":[],"round":[],"raceId":[],"driverId":[],"lap":[],"position":[],"time":[]}

for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/laps.json?limit=10000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:

        response = requests.get(j)
        content=json.loads(response.content)
        for i in content['MRData']['RaceTable']["Races"][0]["Laps"]:
            for item in i['Timings']:
                try:
                    lapTimes["year"].append(content['MRData']['RaceTable']['Races'][0]['season'])                    
                except:
                    lapTimes["year"].append("")
                try:
                    lapTimes["round"].append(content['MRData']['RaceTable']['Races'][0]['round'])                    
                except:
                    lapTimes["round"].append("")
                try:
                    lapTimes["raceId"].append(content['MRData']['RaceTable']["Races"][0]['raceName'])
                except:
                    lapTimes["raceId"].append("")
                try:
                    lapTimes["driverId"].append(item['driverId'])
                except:
                    lapTimes["driverId"].append("")
                try:
                    lapTimes["lap"].append(i['number'])
                except:
                    lapTimes["lap"].append("")
                try:
                    lapTimes["position"].append(item['position'])
                except:
                    lapTimes["position"].append("")
                try:
                    lapTimes["time"].append(item['time'])
                except:
                    lapTimes["time"].append("")
                
lapTimess=pd.DataFrame.from_dict(lapTimes,orient='index')
lapTimess=lapTimess.transpose()
lapTimess.head()

   year round              raceId  driverId lap position      time
0  2010     1  Bahrain Grand Prix    vettel   1        1  2:03.366
1  2010     1  Bahrain Grand Prix    alonso   1        2  2:05.394
2  2010     1  Bahrain Grand Prix     massa   1        3  2:06.758
3  2010     1  Bahrain Grand Prix   rosberg   1        4  2:08.063
4  2010     1  Bahrain Grand Prix  hamilton   1        5  2:08.558

### DriverStandings

In [30]:
driverStandings={"year":[],"round":[],"driverId":[],"position":[],"points":[],"positionText":[],"wins":[]}
#,"raceId":[],"driverStandingsId":[]

for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/driverStandings.json?limit=10000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        for item in content['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
            driverStandings["year"].append(content['MRData']['StandingsTable']['StandingsLists'][0]['season'])
            driverStandings["round"].append(content['MRData']['StandingsTable']['StandingsLists'][0]['round'])
            #driverStandings["raceId"].append(item)
            driverStandings["driverId"].append(item['Driver']['driverId'])
            #driverStandings["driverStandingsId"].append(item)
            driverStandings["position"].append(item['position'])
            driverStandings["points"].append(item['points'])
            driverStandings["wins"].append(item['wins'])
            driverStandings["positionText"].append(item['positionText'])
driverStandingss=pd.DataFrame.from_dict(driverStandings,orient='index')
driverStandingss=driverStandingss.transpose()

driverStandingss.head()

   year round  driverId position points positionText wins
0  2010     1    alonso        1     25            1    1
1  2010     1     massa        2     18            2    0
2  2010     1  hamilton        3     15            3    0
3  2010     1    vettel        4     12            4    0
4  2010     1   rosberg        5     10            5    0

### ConstructorStandings

In [31]:
constructorStandings={"year":[],"round":[],"constructorId":[],"points":[],"position":[],"positionText":[],"wins":[]}
#,"raceId":[],"driverStandingsId":[],"constructirStandingsId":[]

for year in range(year1,year2):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/constructorStandings.json?limit=10000'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        for item in content['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']:
            constructorStandings["year"].append(content['MRData']['StandingsTable']['StandingsLists'][0]["season"])
            constructorStandings["round"].append(content['MRData']['StandingsTable']['StandingsLists'][0]["round"])
            #constructorStandings["constructirStandingsId"].append()
            constructorStandings["constructorId"].append(item['Constructor']['constructorId'])
            constructorStandings["points"].append(item['points'])
            constructorStandings["position"].append(item["position"])
            constructorStandings["positionText"].append(item['positionText'])
            constructorStandings["wins"].append(item['wins'])
                
constructorStandingss=pd.DataFrame.from_dict(constructorStandings,orient='index')
constructorStandingss=constructorStandingss.transpose()

constructorStandingss.head()

   year round constructorId points position positionText wins
0  2010     1       ferrari     43        1            1    1
1  2010     1       mclaren     21        2            2    0
2  2010     1      mercedes     18        3            3    0
3  2010     1      red_bull     16        4            4    0
4  2010     1   force_india      2        5            5    0

### ConstructorResults

In [32]:
ConstructorResults=resultss2.groupby(["year","round","raceId",'constructorId','statusId']).agg({'points':"sum"})
ConstructorResults.head(40)

                                                           points
year round raceId                constructorId statusId
2010 1     Bahrain Grand Prix    ferrari       Finished      43.0
                                 force_india   Finished       2.0
                                 hrt           Accident       0.0
                                               Overheating    0.0
                                 lotus_racing  +2 Laps        0.0
                                               Hydraulics     0.0
                                 mclaren       Finished      21.0
                                 mercedes      Finished      18.0
                                 red_bull      Finished      16.0
                                 renault       Finished       0.0
                                               Suspension     0.0
                                 sauber        Hydraulics     0.0
                                 toro_rosso    Electrical     0.0
                                               Finished       0.0
                                 virgin        Gearbox        0.0
                                               Hydraulics     0.0
                                 williams      +1 Lap         0.0
                                               Finished       1.0
     2     Australian Grand Prix ferrari       Finished      27.0
                                 force_india   Engine         0.0
                                               Finished       6.0
                                 hrt           +5 Laps        0.0
                                               Hydraulics     0.0
                                 lotus_racing  +2 Laps        0.0
                                               Hydraulics     0.0
                                 mclaren       Finished      33.0
                                 mercedes      Finished      11.0
                                 red_bull      Finished       2.0
                                               Wheel          0.0
                                 renault       Finished      18.0
                                               Spun off       0.0
                                 sauber        Collision      0.0
                                               Finished       0.0
                                 toro_rosso    Collision      0.0
                                               Finished       0.0
                                 virgin        Hydraulics     0.0
                                               Suspension     0.0
                                 williams      Collision      0.0
                                               Finished       4.0
     3     Malaysian Grand Prix  ferrari       Engine         0.0

### Listado
* racess **#Estatus terminado**
* Seasons **#Estatus terminado**
* driverss **#Estatus terminado**
* constructorss **#Estatus terminado**
* circuitss **#Estatus terminado**
* qualifiyingg **#Estatus terminado**
* sprintResultt **#Estatus terminado**
* statuss **#Estatus terminado**
* results **#Estatus terminado**
* PitStops **#Estatus terminado**
* lapTimes  **#Estatus terminado**
* driverStandings **#Estatus terminado**
* constructorStandings **#Estatus terminado**
* constructorResults **#Estatus terminado**

In [33]:
racess.to_csv('races.csv',index=False)
Seasons.to_csv('seasons.csv',index=False)
driverss.to_csv('drivers.csv',index=False)
constructorss.to_csv('constructors.csv',index=False)
circuitss.to_csv('circuits.csv',index=False)
qualifiyingg.to_csv('qualifiyings.csv',index=False)

sprintResultt.to_csv('SprintResult.csv',index=False)
pitStopss.to_csv('pitStops.csv',index=False)
statuss.to_csv('status.csv',index=False)
resultss2.to_csv('Results.csv',index=False)

lapTimess.to_csv('lapTimes.csv',index=False)
constructorStandingss.to_csv('constructorStandings.csv',index=False)
driverStandingss.to_csv('driverStandings.csv',index=False)
ConstructorResults.to_csv('ConstructorResults.csv')

In [34]:
print(f'Las dimensiones de la tabla races son :{racess.shape}')
print(f'Las dimensiones de la tabla seasons son :{Seasons.shape}')
print(f'Las dimensiones de la tabla drivers son :{driverss.shape}')
print(f'Las dimensiones de la tabla constructors son :{constructorss.shape}')
print(f'Las dimensiones de la tabla circuits son :{circuitss.shape}')
print(f'Las dimensiones de la tabla qualifiying son :{qualifiyingg.shape}')

print(f'Las dimensiones de la tabla sprintResult son :{sprintResultt.shape}')
print(f'Las dimensiones de la tabla pitStops son :{pitStopss.shape}')
print(f'Las dimensiones de la tabla status son :{statuss.shape}')
print(f'Las dimensiones de la tabla results son :{resultss2.shape}')

print(f'Las dimensiones de la tabla lapTimes son :{lapTimess.shape}')
print(f'Las dimensiones de la tabla constructorStandings son :{constructorStandingss.shape}')
print(f'Las dimensiones de la tabla driverStandings son :{driverStandingss.shape}')
print(f'Las dimensiones de la tabla ConstructorResults son :{ConstructorResults.shape}')

Las dimensiones de la tabla races son :(282, 9)
Las dimensiones de la tabla seasons son :(74, 2)
Las dimensiones de la tabla drivers son :(324, 9)
Las dimensiones de la tabla constructors son :(149, 5)
Las dimensiones de la tabla circuits son :(278, 9)
Las dimensiones de la tabla qualifiying son :(5553, 10)
Las dimensiones de la tabla sprintResult son :(120, 16)
Las dimensiones de la tabla pitStops son :(9634, 8)
Las dimensiones de la tabla status son :(370, 3)
Las dimensiones de la tabla results son :(5517, 17)
Las dimensiones de la tabla lapTimes son :(291848, 7)
Las dimensiones de la tabla constructorStandings son :(2761, 7)
Las dimensiones de la tabla driverStandings son :(5767, 7)
Las dimensiones de la tabla ConstructorResults son :(3985, 1)