*Por temas esteticos, las tablas que se impriman van a tener head(), que significa que imprimir√° solo las primeras 5 lineas

# Librerias

In [1]:
import pandas as pd
import json
import requests

#  Resultados de la F1

In [2]:
import warnings
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

## Resultado de los pilotos

### Manera 1 (por separado)

In [3]:
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022['points'].head()

0    26
1    18
2    15
3    12
4    10
Name: points, dtype: int64

In [4]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores.head()

0            leclerc
1              sainz
2           hamilton
3            russell
4    kevin_magnussen
Name: Driver, dtype: object

In [5]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False).head()

          points
position
1            557
2            402
3            331
4            265
5            222

In [6]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

### Manera 2 (grupal)

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [8]:
df_results_2022["points"]=df_results_2022["points"].astype(int)

In [9]:
df_results_2022.groupby(["Driver"]).agg({'points':"sum"}).sort_values(by='points',ascending=False).head()

                points
Driver
max_verstappen     433
perez              291
leclerc            291
russell            262
hamilton           233

## Resultado de constructores

In [10]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x:x['constructorId'])
df_results_2022['Constructor'].head()

0     ferrari
1     ferrari
2    mercedes
3    mercedes
4        haas
Name: Constructor, dtype: object

In [11]:
df_results_2022.groupby(['Constructor']).agg({'points':"sum"}).sort_values(by='points',ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Los Grandes Premios (carreras)

In [12]:
races={'season':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}

In [13]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/2010.json'
response = requests.get(url)
content=json.loads(response.content)
content['MRData']['RaceTable']['Races'][0]

{'season': '2010',
 'round': '1',
 'url': 'http://en.wikipedia.org/wiki/2010_Bahrain_Grand_Prix',
 'raceName': 'Bahrain Grand Prix',
 'Circuit': {'circuitId': 'bahrain',
  'url': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
  'circuitName': 'Bahrain International Circuit',
  'Location': {'lat': '26.0325',
   'long': '50.5106',
   'locality': 'Sakhir',
   'country': 'Bahrain'}},
 'date': '2010-03-14',
 'time': '12:00:00Z'}

In [14]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

# Tabla races

In [15]:
pd.DataFrame(races).head()

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...

In [16]:
for i in races:
    print(len(races[i]))

259
259
259
259
259
259
259
259
259

In [17]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content=json.loads(response.content)

In [18]:
Season ={'temporada':[],'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    Season['temporada'].append(int(item['season']))
    Season['url'].append(item['url'])
pd.DataFrame(Season).head()

   temporada                                                url
0       1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1       1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2       1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3       1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4       1954  http://en.wikipedia.org/wiki/1954_Formula_One_...